.header-geral {
    // propriedade 

    // .tag {}
    .logo {
        height: 20px;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: red;
}